{% extends "base.html" %}

{% block title %}Main Menu{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='images/logo-big.png') }}" alt="Unraid Duplicate File Handler Logo" class="logo">
<h1>{{ app_name }}</h1>
<div class="menu">
    <a href="/scan">Start Scan</a>
    <a href="/cleanup">Cleanup Duplicates</a>
    <a href="/cleanup_history">Cleanup History</a>
</div>
<div class="footer">
    <p>Version: {{ app_version }}</p>
    <p><a href="https://github.com/Bovive/unraid-duplicate-file-handler" target="_blank">Help & Documentation</a></p>
</div>
{% endblock %}
